/*---------------- Custom Fonts ----------------- */
@font-face {
  font-family: "Cloister";
  src: url("./assets/fonts/CloisterBlack-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*---------------- Default CSS ----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #eeedec !important;
  color: black;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

/*----------------Navar CSS----------------- */

nav.navbar.scrolled {
  background-color: #eeedec;
}

.navbar-text button {
  font-weight: 700;
  color: grey;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

/* Navbar Button CSS */
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: lightgray;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.tagline-title {
  font-family: "Cloister";
}
